
// @font-face {
//     font-family: 'PFAgoraSlabProBold';
//     src: url('/fonts/PFAgoraSlabProBold.woff') format('woff'),
//         url('/fonts/PFAgoraSlabPro-Bold.woff2') format('woff2') ;
//     font-weight: bold;
//     font-style: normal;
// }


@font-face {
  font-family: 'Montserrat-Black';
  font-display: auto;
  src: url('/fonts/Montserrat-Black.eot');
  src: url('/fonts/Montserrat-Black.woff2') format('woff2'),
       url('/fonts/Montserrat-Black.woff') format('woff'),
       url('/fonts/Montserrat-Black.ttf') format('truetype'),
       url('/fonts/Montserrat-Black.svg#Montserrat-Black') format('svg'),
       url('/fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-display: auto;
  src: url('/fonts/Montserrat-Bold.eot');
  src: url('/fonts/Montserrat-Bold.woff2') format('woff2'),
       url('/fonts/Montserrat-Bold.woff') format('woff'),
       url('/fonts/Montserrat-Bold.ttf') format('truetype'),
       url('/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
       url('/fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-display: auto;
  src: url('/fonts/Montserrat-ExtraBold.eot');
  src: url('/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
       url('/fonts/Montserrat-ExtraBold.woff') format('woff'),
       url('/fonts/Montserrat-ExtraBold.ttf') format('truetype'),
       url('/fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg'),
       url('/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  font-display: auto;
  src: url('/fonts/Montserrat-Light.eot');
  src: url('/fonts/Montserrat-Light.woff2') format('woff2'),
       url('/fonts/Montserrat-Light.woff') format('woff'),
       url('/fonts/Montserrat-Light.ttf') format('truetype'),
       url('/fonts/Montserrat-Light.svg#Montserrat-Light') format('svg'),
       url('/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-display: auto;
  src: url('/fonts/Montserrat-Medium.eot');
  src: url('/fonts/Montserrat-Medium.woff2') format('woff2'),
       url('/fonts/Montserrat-Medium.woff') format('woff'),
       url('/fonts/Montserrat-Medium.ttf') format('truetype'),
       url('/fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
       url('/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-display: auto;
  src: url('/fonts/Montserrat-SemiBold.eot');
  src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
       url('/fonts/Montserrat-SemiBold.woff') format('woff'),
       url('/fonts/Montserrat-SemiBold.ttf') format('truetype'),
       url('/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
       url('/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Thin';
  font-display: auto;
  src: url('/fonts/Montserrat-Thin.eot');
  src: url('/fonts/Montserrat-Thin.woff2') format('woff2'),
       url('/fonts/Montserrat-Thin.woff') format('woff'),
       url('/fonts/Montserrat-Thin.ttf') format('truetype'),
       url('/fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg'),
       url('/fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat-Regular';
  font-display: auto;
  src: url('/fonts/Montserrat-Regular.eot');
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2'),
       url('/fonts/Montserrat-Regular.woff') format('woff'),
       url('/fonts/Montserrat-Regular.ttf') format('truetype'),
       url('/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Drina';
  font-display: auto;
  src: url('/fonts/Drina.eot');
  src: url('/fonts/Drina.woff2') format('woff2'),
       url('/fonts/Drina.woff') format('woff'),
       url('/fonts/Drina.ttf') format('truetype'),
       url('/fonts/Drina.svg#Drina') format('svg'),
       url('/fonts/Drina.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

