$accent-dark-color:#0a4d7f;
$accent-darker-color:#06334f;

$font-light:'Montserrat-Light';
$font-regular:'Montserrat-Regular';
$font-bold:'Montserrat-Bold';
$font-extrabold:'Montserrat-ExtraBold';
$font-semibold:'Montserrat-SemiBold';
$ff:16px;
