@import '../helpers/breakpoints';
@import '../variables.scss';

.dev-block{
	font-size: $ff;

	padding-top: 116px;

	background-image: url('/img/dev/dev-back.png');
	background-size: 40% 150%;
	background-position: -5% 0%;
	background-repeat: no-repeat;

	

	&__row{
		padding: 4em 0em 4em 0em;
		min-height: 80vh;
	}

	&__left{
		display: flex;
		flex-direction:column;
		align-items:flex-start;
		justify-content:flex-end;
	}

	&__right{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}

	&__text{
		font-size: 4.5em;
		line-height: 1.2;
		text-transform: uppercase;
		color:#38bde8;
		font-family: $font-black;

		margin-bottom: 1em;
	}

	&__image{
		max-width: 100%;
		width: 100%;
		height: auto;

		object-fit: cover;
	}



}