@import '../helpers/breakpoints.scss';

.interactive-block{
	font-size: 16px;
	min-height: 100vh;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&__wrap{
		position: relative;
	}

	&__content{
		padding: 2em 4em !important;
	}

	&__image{
		max-width: 90%;
		margin: 1em auto;
	}

	&__text{
		font-family: "Montserrat-Light";
		font-size: 1.2em;
		color:#fff;
	}

}

@include adaptive-1460{
	.interactive-block{
		font-size: 15px;
	}
}


@include adaptive-m{
	.interactive-block{
		font-size: 14px;

	}
}

@include adaptive-768{
	.interactive-block{
		display: flex;
		flex-direction:row;
		justify-content:center;

		align-items: flex-end;
		&__image{
			display: none;
		}

		&__content{
			padding: .5em 1em !important;
		}

		&__text{
			background-image: url('/img/heroes/modal-xl.png');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;

			padding: .5em .8em;
			border-radius: 20px;
		}		

	}
}

@include adaptive-480{
	.interactive-block{
		font-size: 12px;


		

	}
}