@import '../helpers/breakpoints.scss';

.main-text{
	font-size: 16px;
	padding: 6.75em 0em;

	&__image{
		margin: 0px auto;
	}

	&__about-wrap{
		margin-top: 3.5em;
	}


	&__about{
		font-size: 3.125em;
		text-align: left;
		font-family: 'Drina';
		line-height: 1.2em;
	}

	&__partners{

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:space-between;


		&-item{
			margin: .5em 1em;
			display: flex;
			flex-direction:row;
			align-items:center;
			justify-content:center;

			&.modal-back{
				background-image: url('/img/heroes/info_text.png');
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				color:#fff;
				padding: 1em 2em;

				min-width: 250px;

				p{
					font-size: 1em;
				}
			}

			&.ver{
				flex-direction:column;
			}

			img{
				margin: 1em;
			}

			p{
				font-size: 1.4em;
				font-family: 'Montserrat-SemiBold';
				margin: 0em;

				&.partners-text{
					font-family: 'Montserrat-SemiBold';
					font-size: .8em;
					text-transform: uppercase;
					color:#111;
					text-align: center;
				}				
			}
		}
	}
}

@include adaptive-l{
	.main-text{
		font-size: 14px;
		&__about{
			font-size: 2.5em;
		}

		&__partners-item{
			p{
				font-size: 1.2em;
			}
		}
	}
}

@include adaptive-768{
	.main-text{

		&__image{
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}


		&__partners{
			flex-direction:column; 

			&-item{

				&.ver{
					flex-direction: row;
					justify-content: flex-start;

					p{
						width: 100%;
						text-align: left;
					}
				}
			}
		}

	}
}

@include adaptive-480{
	.main-text{
		font-size: 12px;
		
		&__about{
			text-align: center;
		}
	}
}

@include adaptive-xs{
	.main-text{
		font-size: 10px;

	}
}