@import '../helpers/breakpoints.scss';

$bcl:#38bce8;

.video-text{
	font-size: 16px;
	padding: 4em 0em;

	z-index: 92;
	position: relative;	

	background-color: #fff;
	min-height: 100vh;

	&__video-wrap{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}

	&__video{
		width: 80%;
		min-height: 420px;
	}

	&__hr{
		margin: 4em 0em 2em 0em;
	}

	&__text-wrap{
	}

	&__quote{
		font-size: 2em;
		color:$bcl;
		font-family: 'Drina';
		float: right;
		max-width: 45%;
		padding: 0em .5em;
		line-height: 1.4;
	}

	&__quote2 {
		font-family:'Montserrat-ExtraBold';
		font-size: 35px;
		color:$bcl;
		float: right;
		max-width: 50%;
		padding: 0em .5em;
		line-height: 36px;
	}

	&__text{
		color:#333;
		font-family: 'Montserrat-Light';
		font-size: 1.2em;
		line-height: 1.7em;
	}


}

@include adaptive-1460{
	.video-text{
		&__video{
			min-height: 360px;
		}
	}
}


@include adaptive-m{
	.video-text{
		font-size: 14px;

		&__quote{
			font-size: 1.8em;
		}

		&__video{
			width: 80%;
			min-height: 280px;
		}		

	}
}

@include adaptive-480{
	.video-text{
		.main-text__image{
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}

		&__video{
			min-height: 160px;
		}

		&__quote{
			max-width: 100%;
			float: none;
			text-align: center;
		}

		&__quote2 {
			font-size: 25px;
			max-width: 100%;
			float: none;
			line-height: 25px;
		}

		&__text{
			text-align: left;
		}
	}
}

@include adaptive-360{
	.video-text{

		&__text{
		}

	}
}