@import '../helpers/breakpoints.scss';

.video-block{
	font-size: 16px;
	height: 100vh;
	overflow: hidden;
	padding-left: 0px !important;
	padding-right: 0px !important;

	background-color: #000;


	position: relative;

	overflow: hidden;

	&__item{
		width: 100%;
		height: 100vh;
		object-fit: cover;

	}

	&__text-wrap{
		position: absolute;

		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;

		top:25%;

		text-align: center;

		font-family: 'Montserrat-Light';

		font-size: 1.2em;

		color:#fff;

		width: auto;
		height: 100%;

		&.left{
			left: 8em;
			margin-left: 0em;
		}

		&.text-left{
			text-align: left;
		}

		&.w-20{
			width: 20%;
		}
	}
}

@include adaptive-m{
	.video-block{
		font-size: 14px;

		&__text-wrap{
			top:14%;
		}

	}
}

@include adaptive-768{
	.video-block{
		height: 50vh;

		&__item{
			height: 50vh;
		}

		&__text-wrap{
			width: 100% !important;
			bottom: 2em;

			height: auto;

			text-align: center;
			padding: 2em 4em;

			left:0 !important;
			right:0;

			margin-left: auto;
			margin-right: auto;
		}

	}
}

@include adaptive-xs{
	.video-block{
		height: 35vh;

		&__item{
			height: 35vh;
		}

	}
}