@import '../helpers/breakpoints.scss';

.drop-menu{
	font-size: 16px; 

	position: absolute;
	top:115px;
	left:0;

	width: 100%;
	height: 0;
	padding: 0px;

	transition: all .3s ease;
	
	overflow: hidden;

	z-index: 99;

	display:grid;
	grid-gap:.5em;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:1fr;

	background-color: rgba(0,0,0,.5);

	&.opened{
		padding: 2em 6em;
		height: auto;
	}


	&__block{
		position: relative;

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		background-image: url('/img/menu/menu-back.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 80% 80%;

		transition: all .3s ease;

		&:hover{
			text-decoration: none;
			transform: scale(1.1);
			background-image: url('/img/menu/menu-back-active.png');
		}

		&.active{
			background-image: url('/img/menu/menu-back-active.png');
		}


		&-text{
			font-size: 2em;
			color:#fff;
			font-family: 'Drina';
			line-height: 1.3;

			margin:.5em 0em 0em 0em;
			text-align: right;
			margin-right: -.5em;

			z-index: 91;
		}

		&-image{
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
}

@include adaptive-1460{
	.drop-menu{

		&__block{

			&-text{
				font-size: 1.5em;
				margin-right: -2em;
			}
		}

	}
}

@include adaptive-m{
	.drop-menu{
		font-size: 14px;

		grid-template-columns:1fr 1fr 1fr 1fr;
	}
}

@include adaptive-767{
	.drop-menu{
		font-size: 14px;

		grid-template-columns:1fr 1fr 1fr 1fr;
	}
}

@include adaptive-480{
	.drop-menu{
		grid-template-columns:1fr;
	}
}