@import '../helpers/breakpoints';
@import '../variables.scss';

.footer{
	font-size: $ff;

	position: absolute;

	width: 100%;
	height: auto;

	z-index: 92;
	
	background-image: url('/img/footer/footer-back.png');
	background-position: center;
	background-repeat: repeat-x;
	background-size: cover;

	padding: 1em 0em;

	&__col{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}

	&__col.left{
		align-items: flex-start;
	}

	&__logo{
		width: 80%;
		height: auto;
		object-fit: cover;
	}

	&__center-header{

	}

	&__center-header-text{
		color:#fff;
		text-align: center;
		text-transform: uppercase;
		font-family: $font-semibold;
		font-size: 1.3em;
	}	

	&__center-main{
		width: 100%;

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:space-around;
	}

	&__center-image{

	}

	&__by{
		color:#fff;
		text-align: center;
		text-transform: uppercase;
		font-family: $font-semibold;
		font-size: 1.3em;		
	}

	&__by-logo{
		


	}

	&__by-link{

		color:#fff;
		text-align: center;
		font-family: $font-light;
		font-size: 1.3em;

		&:hover{
			color:#fff;
			text-decoration: none;

		};	

	}

	transition: all .4s ease-in-out;

	&.active{
		bottom: 0px;
	}


}

@include adaptive-768{
	.fullpage-footer{
		font-size: 14px;

		&__center-main{

			img{
				height: 80px;
				width: auto;

				object-fit: cover;
			}
		}

		&__by{
			font-size: 1.1em;
			margin: .2em 0em;
		}

		&__by-logo{
			margin: 1em 0em;
		}

		&__by-link{
			font-size: 1.1em;
		}
	
	}
}


@include adaptive-480{
	.fullpage-footer{
		font-size: 12px;

		&__logo{
			width: 50%;
		}

		&__logo-link{
			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
		}

		&__center-header-text{
			font-size: 1.1em;
			margin: .2em 0em;
		}

		&__center-image{
			height: 60px !important;
		}

		&__col.center{
			margin-top: 1em;
		}

		&__col.left{
			text-align: center;
			align-items: center;
		}

		&__by{
			margin: .5em 0em .1em 0em;
		}

		&__by-logo{
			width: 30%;
			margin: .1em 0em;
		}

		&__by-link{

		}
	
	}
}