@import '../helpers/breakpoints.scss';

$primary:#38bce8;

.header{
	position: absolute;  
	left: 0;
	top:-.2em;

	z-index: 99; 

	width: 100%; 
	height: auto; 

	font-size: 16px;


	padding: 0em 3.75em;
	
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;

	background-image: url('/img/main/menu-back.png');
	background-size: cover;
	background-repeat: repeat-x;
	background-position: top;

	&.opened-menu{
		background-color: rgba(0,0,0,.5);
		background-image: none;
		height: 120px;
	}



	&__menu{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;
	}

	&__logo{
		padding: .5em 2em;
	}

	&__item{
		position: relative;
		padding: 2.5em 2em;

		transition: all .3s ease;

		cursor: pointer;
		position: relative;

		&-hovered-image{
			position: absolute;
			top:0;
			bottom: 0;

			left:0;
			right:0;

			margin:auto;

			opacity: 0;

			transition: all .3s ease-in-out;

			max-width: 100%;
			height: auto;
			object-fit: cover;
		}

		&:hover{
			
			.header__item-hovered-image{
				opacity: 1;
			}
		}

		 a{
		 	position: relative;
			text-transform: uppercase;
			color:#fff;
			font-size: .8em;	

			font-family: 'Montserrat-SemiBold';

			&:hover,&:focus,&:active{
				text-decoration: none;
				color:#fff;
			}				
	     }
	}


	&__lang{

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		margin-right: 1.5em;
		padding: 0em .8em;

		background-image: url('/img/main/lang.png');
		background-size: 100% 90%;
		background-position: bottom;
		background-repeat: no-repeat;



		&-item{
			padding: .4em .5em;

			&.active{
				a{
					color:$primary;
				}
			}

			&:hover,&:focus{
				a{
					color:$primary;
				}
			}

			a{
				text-transform: uppercase;
				color:#fff;
				font-size: .8em;
				font-family: 'Montserrat-ExtraBold';	

				&:hover,&:focus,&:active{
					text-decoration: none;
				}				
		     }

		}

	}

	}
	// Мобильная версия
	.header__mobile{
		display: none;
	}


@include adaptive-l{
	.header{
		font-size: 15px;
		
	}
}

@include adaptive-m{
	.header{
		font-size: 14px;
		

		&__item{
			padding: 2em 1.5em;
		}
	}
}

@include adaptive-768{
	.header{
		display: none;

		&__wrap{
			padding: 0px !important;
			position: relative;
		}
	}
	.header__mobile{
		position: absolute;
		top:0;
		left: 0;

		width: 100%;
		height: 110px;

		z-index: 99;

		background-image: url('/img/main/menu-back.png');
		background-size: cover;
		background-repeat: repeat-x;
		background-position: top;	

		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:flex-start;	

		transition: all .3s ease-in-out;


		&.opened{
			background-image: none;
			background-color: rgba(0,0,0,.5);
			height: 480px;

			.header__mobile-items{
				height: auto;
			}
		}


		&-toggle{
			position: absolute;
			right:.5em;

			height: auto;

			top:1em;

			height: 60px;
			width: auto;				
		}


		&-items{
			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;

			height: 0px;
			overflow: hidden;
		}

		&-item{
			color:#fff;
			font-size: 1.5em;
			margin:.5em 0em;
			font-family: 'Montserrat-ExtraBold';
			
			&:hover,&:focus,&:active{
				color:#fff;
				text-decoration: none;
			}	
		}

		.header__lang{
			margin-right: 0;


			&-item{
				margin: .5em 0em;
				a{
					font-size: 1.2em;
				}
			}
		}
	}
}

@include adaptive-480{
	.header__mobile{
		font-size: 12px;
		height: 85px;

		&.opened{
			height: 360px;
		}

		.header__logo{
			a{
				display: flex;
				flex-direction:row;
				align-items:center;
				justify-content:center;				
			}
			

			img{
				width: 80%;
			}
		}


		&-toggle{
			height: 45px;
		}
	}
}

@include adaptive-xs{
	.header__mobile{
		font-size: 10px;
		height: 60px;

		.header__logo{
			img{
				width: 60%;
			}
		}

		&-toggle{
			height: 35px;
		}
	}
}