@import '../helpers/breakpoints';
@import '../variables.scss';

.fullpage-video-block{
	font-size: $ff;

	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

	&__overlay{
		background-color: rgba(0,0,0,.8);

		position: absolute;
		left: 0;
		top:0;

		width: 100%;
		height: 100%;

		z-index: 91;

		transition: all .3s ease-in-out;

		opacity: 0;
	}

	&__overlay.active{
		opacity: 1;
	}

	&__video{
		position: relative;

		width: 85%;
		height: auto;
		max-height: 80%;

		z-index: 92;
	}
}