@import '../helpers/breakpoints';
@import '../variables.scss';

.fullpage-back-block{
	font-size: $ff;

	position: absolute;
	left:0;
	top:0;

	height: 100vh;
	width: 100%;


	&__image{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		width: 100%;
		height: 100vh;	

		&.dark{
			background-color: rgba(0,0,0,1);
			background-image: none !important;
		}

	}

	&.active{
		z-index: 95;
	}

	&__overlay{
		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;

		transition: all .2s ease-in-out;

		background-color: rgba(0,0,0,1);

		opacity: 0;

		&.active{
			opacity: 1;
			transition: all 0s ease-in-out;
		}
	}

	&__video{
		width: 100%;
		height: 100vh;
		object-fit: cover;

		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		transition: all .6s ease;

		&.active{
			opacity: 1;
			transition: all 0s ease;
		}
		
	}


}



@include adaptive-480{
	.fullpage-back-block{
		&__overlay{
			opacity: .5;
		}
	
	}
}