#fullpage-scroller{
	position: relative;
	z-index: 92;
}
.fullpage-wrapper{
	font-size: 16px;

	width: 100%;
	height: 100vh;

	transition: all .4s ease-in-out;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&__video{
		position: absolute;
		left: 0;
		top:0;
		object-fit: cover;

		width: 100%;
		height: 100%;

		opacity: 0;

		transition: all .3s ease;

		z-index: 90;
	}

	&__overlay{
		position: absolute;
		width: 100%;
		height: 100%;

		z-index: 92;
		background: linear-gradient(to right, #222 , transparent 40%);

		z-index: 91;		
	}	
}